<!DOCTYPE html>
<html>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1" > 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.debug.js" integrity="sha256-JdhYE9q27pkuQK7Os1k7Me07DJz1zV/C/DvEpAtrGX8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js" integrity="sha256-bd8XIKzrtyJ1O5Sh3Xp3GiuMIzWC42ZekvrMMD4GxRg=" crossorigin="anonymous"></script>
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata&display=swap" rel="stylesheet">	
  <link rel="stylesheet" href="/style.css">
	<meta charset="UTF-8">
    <title>Reactor Management</title>
  </head>
  <body>
        <table>
			<tr>  <td colspan="2">Fusion Reactor</td> </tr>
			<tr>  <td>State:&nbsp;</td> <td data-bind="text: reactor_state_text, style:{color:reactor_state_color}"></td>
				<!-- ko if: reactor_state() == 'Online' -->
					<td rowspan="5">
						<img src="/fusion.gif" alt="Fusion Reaction" class="reactor_image">
					</td>
				<!-- /ko --> 
			</tr>
			<tr >  <td>Output:&nbsp;</td> <td data-bind="text: energy_output_text"></td> </tr>
			<tr >  <td>Injection Rate:&nbsp;</td> <td data-bind="text: injection_rate"></td> </tr>
			<tr >  <td>Plasma Temp:&nbsp;</td> <td data-bind="text: plasma_temp_text"></td> </tr>
		</table>
		
		<script src="/socket.io/socket.io.js"></script> 
        <script>
			
		var model = {
			reactor_state: ko.observable(),
			energy_output: ko.observable(),
			injection_rate: ko.observable(),
			plasma_temp: ko.observable(),
			setinject: function(){alert()}
		}
		model.reactor_state_color = ko.computed(function(){
			var state = model.reactor_state()
			var setcolor;
			if( state == 1 ){
		 		setcolor = 'green'
			}
			else{
				setcolor ='red'
			}
			return setcolor
		})
		model.reactor_state_text = ko.computed(function(){
			var state = model.reactor_state()
			var settext;
			if( state == 1 ){
				settext = 'Online'
			}
			else{
				settext ='Offline'
			}
			return settext
		})
		model.energy_output_text = ko.computed(function(){
			var output = parseInt(model.energy_output(),10)
			if ( output > 1000000 ) {
				output = Math.floor(output / 1000000)
				return output.toString() + "MRF/t"
			} else if (output > 1000) {
				output = Math.floor(output / 1000)
				return output.toString() + "KRF/t"
			} else {
				return output.toString() + "RF/t" 
			}
		})
		model.plasma_temp_text = ko.computed(function(){
			var plasmat = parseInt(model.plasma_temp(),10)
			if ( plasmat > 1000000 ) {
				plasmat = Math.floor(plasmat / 1000000)
				return plasmat.toString() + "MK"
			} else if (plasmat > 1000) {
				plasmat = Math.floor(plasmat / 1000)
				return plasmat.toString() + "KK"
			} else {
				return plasmat.toString() + "K" 
			}
		})

		ko.applyBindings(model)

		var socket=io()
			socket.on('connect', function(){
				console.log('connected to server')
			})
			socket.on('newMessage', (newMessage)=>{
				console.log('newMessage', newMessage)
					model.reactor_state(newMessage.reactor_state)
					model.energy_output(newMessage.energy_output)
					model.injection_rate(newMessage.injection_rate)
					model.plasma_temp(newMessage.plasma_temp)
			})
		            
		</script>
		</body>
		<span style="position: fixed; bottom: 0pt; right: 0pt;">
			<a href="/login" style="color:black;">π</href></span>
  
</html>
