
body{
	background-color: black;
	margin: 10;
	padding: 10;
	background-image: radial-gradient(rgba(0,150,0,0.80), black 120%);
	height: 100vh;
	margin: 0;
	overflow: hidden;
	padding: 2rem;
	color: white;	
	text-shadow: 0 0 5px #C8C8C8;
	font-family:  'Inconsolata', monospace;
	
}

.logout{
		background-color: transparent;
		border:none;
		border-radius: 5px;
		cursor: pointer;
		overflow: hidden;
		outline:none;

}
.logout:hover{
background-color: black;
color: green;
}
.reactor_image{
	padding-left: 20px;
	max-width: 40%;
	height: auto;
}
.reactor_controls{
	border-radius: 4px;
	background-color: black;
	color: green;
	border: none;
}

body::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: repeating-linear-gradient(
			0deg,
			rgba(0,0,0, 0.15),
			rgba(0,0,0, 0.15) 1px,
			transparent 1px,
			transparent 2px
		);
		pointer-events: none;
	}
	
	@media (min-width:1080px){
		body{
		font-size: 1.5rem;
		}
		.reactor_controls{
			font: 1.4rem Inconsolata, monospace;
		}
		.logout{
			font-size: 1rem;
		}
	}
	
	@media (max-width:1080px){
		body{
		font-size: 2rem;
		}
		.reactor_controls{
			font: 2.5rem Inconsolata, monospace;
		}
		.logout{
			font-size: 3rem;
		}
		input[type=number]{
			height: 2.4rem;
			font-size: 2.3rem;
		}
	}
/* .reactortable */
/* { */

/* } */
/* .header */
/* { */
	/* text-align: center; */
	/* font-size: 60px; */
	/* color: #FFFFFF; */
/* } */
/* .info */
/* { */
		/* width: 100%; */
		/* padding: 20px; */
		/* font-size: 50px; */
		/* color: #FFFFFF; */
/* } */
